<div id="top" class="row">
		    <div class="col-md-3">
		        <h2>{{message}}</h2>
		    </div>
		    <div class="col-md-9">
			<div class="alert alert-danger">
			  <strong>Warning!</strong> El sistema se encuentra off-line. Sincronizará cuando este online.
			</div>
		    </div>

	     </div>
	     <div id="top" class="row">

		    <div class="col-md-3">
		    </div>
		    <div class="col-md-8">
		        <div class="input-group h2">
		            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Buscar Tickets">
		            <span class="input-group-btn">
                		<button class="btn btn-primary" type="submit">
		                    <span class="glyphicon glyphicon-search"></span>
                		</button>
		            </span>
		        </div>
		    </div>

		    <div class="col-md-1">
		        <a href="add.html" class="btn btn-primary pull-right h2">Nuevo Ticket</a>
		    </div>

	     </div> <!-- /#top -->

	     <hr />
	     <div id="list" class="row">
		   <div class="table-responsive col-md-12">
             <input class="new-ticket" placeholder="Client" autofocus="" [(ngModel)]="newTicket.client" (keyup.enter)="addTicket()">
    <input class="new-ticket" placeholder="Amount" autofocus="" [(ngModel)]="newTicket.amount" (keyup.enter)="addTicket()"/>
    <input class="new-ticket" placeholder="Date" autofocus="" [(ngModel)]="newTicket.date" (keyup.enter)="addTicket()"/>
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
                		<tr>
		                    <th>ID</th>
                		    <th>Cliente</th>
		                    <th>Vendedor</th>
                		    <th>Fecha</th>
		                    <th class="actions">Acciones</th>
                		    <th>Estado</th>
		                 </tr>
		            </thead>
		            <tbody *ngIf="tickets.length > 0">
                		<tr *ngFor="let ticket of tickets" [class.completed]="ticket.complete">
		                    <td>{{id}}</td>
                		    <td>{{ticket.client}}</td>
		                    <td>{{ticket.amount}} $</td>
                		    <td>{{ticket.date}}</td>
		                    <td class="actions">
                		        <a class="btn btn-success btn-xs" href="view.html">Ver</a>
		                        <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
		                    </td>
				                <td>Sincronizado <span align="right"><i class="fa fa-rss" aria-hidden="true"></i></span></td>
		                </tr>
		            </tbody>
		         </table>
		     </div>
	     </div> <!-- /#list -->
 <!--
	     <div id="bottom" class="row">

		    <div class="col-md-12">

		        <ul class="pagination">
		            <li class="disabled"><a>&lt; Anterior</a></li>
		            <li class="disabled"><a>1</a></li>
		            <li><a href="#">2</a></li>
		            <li><a href="#">3</a></li>
		            <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
		        </ul>

		    </div>

	     </div>
       -->
              <!-- /.pagination -->
       <!-- /#bottom -->

		<!-- Modal -->
		<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                		<h4 class="modal-title" id="modalLabel">Borrar Item</h4>
		            </div>
		            <div class="modal-body">Desea realmente borrar este item? </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-primary">Si</button>
			                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			            </div>
			    </div>
			</div>
		</div>

<!--
<section class="ticketapp">
  <header class="header">
    <h1></h1>
    <input class="new-ticket" placeholder="Client" autofocus="" [(ngModel)]="newTicket.client" (keyup.enter)="addTicket()">
    <input class="new-ticket" placeholder="Amount" autofocus="" [(ngModel)]="newTicket.amount" (keyup.enter)="addTicket()"/>
    <input class="new-ticket" placeholder="Date" autofocus="" [(ngModel)]="newTicket.date" (keyup.enter)="addTicket()"/>
  </header>
  <section class="main" *ngIf="tickets.length > 0">
    <ul class="tickets-list">
      <li *ngFor="let ticket of tickets" [class.completed]="ticket.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTicketComplete(todo)" [checked]="ticket.complete">
          <label>{{ticket.client}} - {{ticket.amount}} $ - {{ticket.date}}</label>
          <button class="destroy" (click)="removeTicket(ticket)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="tickets.length > 0">
    <span class="tickets-count"><strong>{{tickets.length}}</strong> {{tickets.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
-->
